<div class="container-fluid" [hidden]='log'>
  <h1 class="text-center">Ordre d'apparition des articles</h1>
  <div class="table-responsive m-3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Titre de l'article</th>
          <th scope="col">Contenu de l'article</th>
          <th scope="col">Ordre d'apparition</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles; let i = index">
          <th class="title" scope="row" [innerHTML]="article.title | keepHtml"></th>
          <td class="content" [innerHTML]=" article.content | keepHtml"></td>
          <td class="rank text-center align-middle">
            <input class="text-center" name="article-{{i}}" type="number" [(ngModel)]="article.rank"></td>
        </tr>
      </tbody>
      <button (click)="changeRank(articles)">Modifier l'ordre</button>
    </table>
  </div>
</div> 

