.card{
    text-align: center;
    width: 100%;
    background-color: rgba(35, 30, 36,0.5);
    box-shadow: 1px 10px 12px #555;
}

.edit-btn{
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.del-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}


.no-border {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

