.card{
    border: solid 2px;
    text-align: center;
    width: 100%;
    background-color: rgb(114, 190, 235);
}

.edit-btn{
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.del-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}


.no-border {
  border: none;
  background-color: transparent;
}