<body>
    <form (ngSubmit)="newMdp(f)" #f="ngForm">
    <h2>Modifier votre mot de passe</h2>
    <div class="form-row">
      <div class="col-md-6">

        <div class="md-form form-group">
          <input mdbInput type="email" class="form-control" id="inputEmail4MD" placeholder="Tapez votre identifiant actuel" [hidden]='hiddId' name="email" #mail="ngModel" [ngModel] required email>
          <input mdbInput type="password" class="form-control" id="inputEmail4MD" [hidden]="hiddenFormMdp" placeholder="Tapez votre mot de passe actuel" name="password" #mdp="ngModel" [ngModel] required>
          <input mdbInput type="password" class="form-control" id="inputEmail4MD" [hidden]="nextFormMdp" placeholder="Vérification, veuillez ressaisir votre mot de passe actuel" name="password" #mdp="ngModel" [ngModel] required>
          <input mdbInput type="password" class="form-control" id="inputPassword4MD" [hidden]="submitFormMdp" placeholder="Tapez votre nouveau mot de passe" name="password" #mdp="ngModel" [ngModel] required>
          <label for="inputEmail4MD"></label>
        </div>
        <button class='btn btn-primary' [hidden]="hiddenFormMdp" type="submit">Suivant</button>
        <button class='btn btn-success'[hidden]="nextFormMdp" type="submit">Validé</button>
        <button class='btn btn-warning' [hidden]="submitFormMdp" type="button" (click)='updatePassWord(f.value.email, f.value)'>Enregistrer</button>
      </div>
    </div>
  </form>


  <form (ngSubmit)="newId(g)" #g="ngForm">
    <h2>Modifier votre identifiant</h2>
    <div class="form-row">
      <div class="col-md-6">

        <div class="md-form form-group">
          <input mdbInput type="email" class="form-control" id="inputEmail4MD" placeholder="Tapez votre identifiant actuel" [hidden]='hiddMdp' name="email" #mail="ngModel" [ngModel] required email>
          <input mdbInput type="password" class="form-control" id="inputEmail4MD" [hidden]="hiddenFormId" placeholder="Tapez votre mot de passe" name="password" #mdp="ngModel" [ngModel] required>
          <input mdbInput type="email" class="form-control" id="inputPassword4MD" [hidden]="showFormId" placeholder="Tapez votre nouvel identifiant" name="email" #mdp="ngModel" [ngModel] required>
          <label for="inputEmail4MD"></label>
        </div>
        <button class='btn btn-primary' [hidden]="hiddenFormId" type='submit'>Suivant</button>
        <button class='btn btn-warning' [hidden]="showFormId" type='button' (click)='updateId(g.value.password, g.value)'>Enregistrer</button>
      </div>
    </div>
  </form>
</body>

