input{
  margin-left: 50%;
  margin-top: 20px;
}

button{
  margin-left: 90%;
  margin-bottom: 6%;
}

h2{
  margin-left: 35%;
  padding-top: 6%;
  margin-bottom:20px;
}

body{
  background-image: url("/assets/image/essaiflou.png");
  background-size: 100%;
}
