
 
h1{
  text-align: center;
  padding-top: 20px;
}

button{
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card{
  border: none;
}
.card-body{
  box-shadow: 7px 11px 22px #aaa;
}