<div>
<a routerLink="/admin/editor">
  <button class="btn btn-outline-success" [hidden]='isLogin' (click)='createActivity()'>Créer un article</button>
</a>
<div class="m-5">
  <app-cards *ngIf="topArticleIndex > -1" [article]='articlesList[topArticleIndex]' [index]="topArticleIndex"
    (deleteCard)="deleteCard($event)"></app-cards>
</div>
<div class="row">
    <ng-container *ngFor="let article of articlesList; let i = index">
      <app-cards class="col-sm-6" *ngIf="i !== topArticleIndex" [article]='article' [index]='i' (deleteCard)="deleteCard($event)"></app-cards>
    </ng-container>
</div>
<app-ranking-button [hidden]='isLogin' [articles]="articlesList" (updateRank)="onUpdateRank($event)">
</app-ranking-button>
</div>

