
<ng-template #content let-c="close()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Connexion</h4>
    <button type="button" class="close" aria-label="Close" (click)="c">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p>Identifiant :</p>
    <input type='text'>
    <p class='pt-4'>Mot de passe :</p>
    <input type='text'>
    <button class='btn btn-outline-primary btnLog'>connexion</button>
  </div>
</ng-template>

<button class='btn btn-primary' (click)="open(content)">Login</button>


