.modal-title{
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;
}

.retour{
  margin-top: 20px;
}

.mdp-oublié{
  margin-top: 8%;
  margin-left: 5%;
}

.login-btn{
  margin-top: 8%;
}

.container-fluid{
  padding: 0px;
}

.fenetre-login{
  max-height: 420px;
}

.retour{
  margin-top: 8%;
  margin-left: 5%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 54.333333%;
}
