.btnLog{
  margin-left:34%;
}

.retour{
  margin-top: 20px;
}

img{
  height: 50%;
}

.mdpOublié{
  margin-top: 6%;
  margin-left: 13%;
}

.login-btn{
  margin-top: 6%;
}

.container-fluid{
  padding: 0px;
}
