<ng-template #content let-closeModal="close()">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="container-fluid modal-body" [hidden]='hidden'>
      <div class="row fenetre-login">
        <img src="/assets/image/login.jpg" class="col-7">
        <div class="col-5">
          <button type="button" class="close" aria-label="Close" (click)="closeModal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modal-basic-title">Connexion</h4>
          <p class='pt-4'>Identifiant :</p>
          <input type='text' name="email" #mail="ngModel" [ngModel] required email>
          <div *ngIf="mail.errors && f.submitted">
            <span class="text-danger text-center" *ngIf="mail.errors.required">Le champs "Email" est requis</span>
          </div>
          <p class='pt-4'>Mot de passe :</p>
          <input type='text' name="mdp" #mdp="ngModel" [ngModel] required>
          <div *ngIf="mdp.errors && f.submitted">
            <span class="text-danger text-center" *ngIf="mdp.errors.required">Le champs "Mot de passe" est requis</span>
          </div>
          <div d-flex justify-content-center>
            <button class='btn btn-outline-primary login-btn' type="submit">connexion</button>
            <button class='mdp-oublie btn btn-outline-success' (click)="hiddenForm()">mot de passe oublié ?</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form>
    <div class="container-fluid modal-body" [hidden]='show'>
      <div class="row fenetre-login">
        <img src="/assets/image/login.jpg" class="col-7">
        <div class="col-5">
          <button type="button" class="close" aria-label="Close" (click)="closeModal">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modal-basic-title">Mot de passe Oublié ?</h4>
          <p>Votre e-mail :</p>
          <input type='text' email name="email" #email="ngModel" [ngModel]>
          <div>
            <button class='btn btn-outline-primary login-btn' type="submit">envoyer</button>
            <button class='retour btn btn-outline-success' (click)="hiddenBack()">retour</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<button  class="btn btn-outline-light" (click)="open(content)">Connexion</button>
