<ckeditor  [editor]="Editor" [(ngModel)]=article[type]></ckeditor>
<Button class='btn btn-primary' [hidden]='hideCreate' (click)='goToContent()'>Suivant</Button>
<Button class='btn btn-success' [hidden]='hideSubmit' (click)='createArticle(this.article)'>Enregistrer</Button>
<Button class='btn btn-danger' (click)='backClick()'>Annuler</Button>
<Button class='btn btn-success' [hidden]='hideModif' (click)='updateArticle( this.article._id, this.article)'>Modifier</Button>
<ngx-dropzone [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)"
(filesRejected)="onFilesRejected($event)"></ngx-dropzone>
<button (click)="dropzone.reset()">Reset</button>
<button (click)="dropzone.showFileSelector()">Sélectionner photos</button>


<label for="section-select" [hidden]='hideCreate'>Choisissez une section:</label>
<select id="section-select" [hidden]='hideCreate' [(ngModel)]="article.section">
    <option value=""> Quelle section ?</option>
    <option value="activity">Activité</option>
    <option value="actuality">Actualité</option>
    <option value="home">Accueil</option>
    <option value="presentation">Présentation</option>
    <option value="products">Produits</option>
    <option value="technic-reglementation">Technique et réglementation</option>
</select>
