<ckeditor  [editor]="Editor" [(ngModel)]=article[type]></ckeditor>
<Button class='btn btn-primary' [hidden]='hideCreate' (click)='goToContent()'>Suivant</Button>
<Button class='btn btn-success' [hidden]='hideSubmit' (click)='createArticle(this.article)'>Enregistrer</Button>
<Button class='btn btn-danger' (click)='backClick()'>Annuler</Button>
<Button class='btn btn-success' [hidden]='hideModif' (click)='updateArticle( this.article._id, this.article)'>Modifier</Button>
<ngx-dropzone [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)"
(filesRejected)="onFilesRejected($event)"></ngx-dropzone>
<button (click)="dropzone.reset()">Reset</button>
<button (click)="dropzone.showFileSelector()">Sélectionner photos</button>


