<footer class="d-flex-justify-content-between">
  <div class='container-fluid'>
    <div class='row'>
      <div class="link col-4">
        <a href="">Plan du site</a><br>
        <a href="">Mentions legale</a>
      </div>
      <div class="copyright col-4">
        <p>Contactez nous :
          Tel: 02.38.44.33.42</p><p> Email : crew@ce-westendorp.com</p>
          <p>© 2019 Copyright:
            <a href="https://westendorp.com"> Westendorp.com</a></p>
          </div>
          <app-login-modal class='col-4'></app-login-modal>
        </div>
      </div>
    </footer>
