<section class="timeline m-5">
  <div class="container">
    <div class="timeline-item box scale">
        <div class="timeline-img"></div>
      <div class="timeline-content">

        <div>
          <app-cards [article]='articlesList[0]'   (deleteCard)="deleteCard($event)"></app-cards>
        </div>
        <div class="date">100 ans</div>
      </div>
    </div>

    <div class="timeline-item box scale">
        <div class="timeline-img"></div>
      <div class="timeline-content">

        <div>
          <app-cards [article]='articlesList[1]'   (deleteCard)="deleteCard($event)"></app-cards>
        </div>
        <div class="date">1913</div>
      </div>

    </div>

    <div class="timeline-item box scale">
        <div class="timeline-img"></div>
      <div class="timeline-content">
        <div>
          <app-cards [article]='articlesList[2]'  (deleteCard)="deleteCard($event)"></app-cards>
        </div>
        <div class="date">1979</div>
      </div>
    </div>

    <div class="timeline-item box scale">
        <div class="timeline-img"></div>
      <div class="timeline-content">
        <div>
          <app-cards [article]='articlesList[3]' (deleteCard)="deleteCard($event)"></app-cards>
        </div>
        <div class="date">Aujourd'hui</div>
      </div>
    </div>
  </div>
</section>
<app-ranking-button [hidden]='isLogin' [articles]="articlesList" (updateRank)="onUpdateRank($event)">
</app-ranking-button>
