.navbar-nav  {
  display: flex;
  justify-content: space-around;
}

.navbar {
  background-color: #262626;
  background-size: 100%;
  opacity: 0.8;
}

.navbar-brand {
  height: 5%;
  width: 5.1%;
  margin-right: 6%;
}

.nav-item {
  cursor: pointer;
}


.nav-link-1 {
  transition: 0.3s ease;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding: 13px 0;
  margin: 0 40px;
}

.nav-link-1:hover {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 6px 0;
}

.back-nav-bar{
  height: 55px;
}

.navbar-brand{
  cursor: pointer;
}

.active-nav{
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 6px 0;
}

img{
  vertical-align: middle;
    border-style: none;
}

.container {
  
}