h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
}

button {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.no-border {
  border: none;
}

body{
  background-image: url("/assets/image/essaiflou.png");
  background-size: 100%;
}
