
<div class="side-nav" [ngClass]="{'sideNaveOpen': openNav, 'sideNaveClose': closeNav}">
  <h2>Administrateur</h2>
  <a class="close-btn" (click)='onCloseNav()'>&times;</a>
  <span (click)='onOpenNav()' class='burger'>&#9776;</span>
  <a >Google Analytics</a>
  <a class="nav-link" [routerLink]="[ 'home' ]">Accueil</a>
  <a class="nav-link" [routerLink]="[ 'presentation' ]">Présentation</a>
  <a class="nav-link" [routerLink]="[ 'activites' ]">Nos activités</a>
  <a class="nav-link" [routerLink]="[ 'produits' ]">Nos Produits</a>
  <a class="nav-link" [routerLink]="[ 'techniques' ]">Techniques et Réglementations</a>
  <a class="nav-link" [routerLink]="[ 'actualites' ]">Actualités</a>
  <a class="nav-link" [routerLink]="[ 'home' ]" (click)="logout()">Logout</a>
</div>

<div [ngClass]="{'mainClose': closeNav, 'mainOpen': openNav}">
  <router-outlet></router-outlet>
</div>

