
<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)='closeNav()'>&times;</a>
  <span (click)='openNav()' class='burger'>&#9776;</span>
  <a >Google Analytics</a>
  <a class="nav-link" [routerLink]="[ 'home' ]">Accueil</a>
  <a class="nav-link" [routerLink]="[ 'presentation' ]">Présentation</a>
  <a class="nav-link" [routerLink]="[ 'activites' ]">Nos activités</a>
  <a class="nav-link" [routerLink]="[ 'produits' ]">Nos Produits</a>
  <a class="nav-link" [routerLink]="[ 'techniques' ]">Techniques et Réglementations</a>
  <a class="nav-link" [routerLink]="[ 'actualites' ]">Actualités</a>
  <a class="nav-link" [routerLink]="[home]" (click)="logout()">Logout</a>
</div>
<div id="main" >
  
  <router-outlet></router-outlet>
</div>

