

<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)='closeNav()'>&times;</a>
  <span (click)='openNav()' class='burger'>&#9776;</span>
  <a >Google Analytics</a>
  <a class="nav-link" [routerLink]="[ '' ]">Accueil</a>
  <a class="nav-link" [routerLink]="[ '/presentation' ]">Présentation</a>
  <a class="nav-link" [routerLink]="[ '/activites' ]">Nos activités</a>
  <a class="nav-link" [routerLink]="[ '/produits' ]">Nos Produits</a>
  <a class="nav-link" [routerLink]="[ '/techniques' ]">Techniques et Réglementations</a>
  <a class="nav-link" [routerLink]="[ '/actualites' ]">Actualités</a>
</div>
<div id="main" >
  <h2 class="d-flex justify-content-center m-5">Un savoir-faire historique dans les constructions électriques</h2>
  <section class="timeline">
    <div class="container">
      <div class="timeline-item">
        <div class="timeline-img"></div>
  
        <div class="timeline-content ">
          <h2>Fondation</h2>
          <div class="date">1913</div>
          <p>A partir de 1979, Westendorp s'est implantée sur son site actuel de Meung sur Loire dans le Loiret et est devenue l'un des leaders français en matière de rénovation, réparation, modification et vente de transformateurs HT/BT jusqu'à 2000 kVA.  </p>
        </div>
      </div> 
  
      <div class="timeline-item">
  
        <div class="timeline-img"></div>
  
        <div class="timeline-content timeline-card">
          <div class="timeline-img-header">
            <h2>Implantation</h2>
          </div>
          <div class="date">1979</div>
          <p>A partir de 1979, Westendorp s'est implantée sur son site actuel de Meung sur Loire dans le Loiret et est devenue l'un des leaders français en matière de rénovation, réparation, modification et vente de transformateurs HT/BT jusqu'à 2000 kVA.  </p>
        </div>
  
      </div>   
  
      <div class="timeline-item">
  
        <div class="timeline-img"></div>
  
        <div class="timeline-content">
          <div class="date">PLUS DE 100 ANS</div>
          <h2>Expériences</h2>
          <blockquote>CE Westendorp repose sur des expériences acquises durant plus de 100 ans d’existence. Son ambition l’a mené en 1979 à se diversifier et à se lancer dans d’autres activités comme la rénovation, la réparation, la modification et la vente de transformateurs HT/BT jusqu'à 2000 kVA. Aujourd’hui, notre société fait partie des leaders français dans le domaine de la maintenance des postes de transformation électrique, la vente de transformateurs neufs et d’occasion ainsi que la réparation de transformateurs.

            </blockquote>
        </div>
      </div>   
  
      <div class="timeline-item">
  
        <div class="timeline-img"></div>
  
        <div class="timeline-content" >
          <h2>Une équipe qualifiée</h2>
          <div class="date">Aujourd’hui</div>
          <p>Quels que soient vos besoins, notre équipe de techniciens professionnels est là pour vous aider ! Nous ne nous contentons pas de vous fournir des produits et services de qualité. Nous nous engageons également à vous garantir une assistance qualifié et conseils pour toute question relative à la construction électrique et à l’installation de transformateurs.</p>
        </div>
      </div>   
  
      <div class="timeline-item">
  
        <div class="timeline-img"></div>
  
        <div class="timeline-content timeline-card ">
          <div class="timeline-img-header">
            <h2>Une démarche rapide</h2>
          </div>
          <div class="date">Aujourd’hui</div>
          <p>La longue expérience accumulée par notre société nous permet de garantir un niveau qualité exceptionnelle à nos produits et services. Nous faisons en effet le nécessaire pour répondre au mieux à vos besoins, tout en respectant les normes en vigueur. Soucieux de votre sécurité et de votre confort, nous répondons à vos questions et demandes de dépannage dans le meilleur délai. Enfin, nos interventions s’inscrivent dans une démarche respectueuse de l’environnement. À votre demande, nous intervenons chez vous pour une dépollution et/ou une destruction de transformateurs contaminés aux PCB. </p>
        </div>
      </div>   
    </div>
  </section>
  
  
</div>


